@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&family=Piedra&display=swap");

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  background: rgba(251, 251, 255, 1);
  color: rgba(23, 21, 49, 1);
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  height: auto;
}

.list {
  list-style: none;
}

button,
a {
  cursor: pointer;
}

.button:hover {
  scale: 120%;
}

.j-header.is-open .j-header-background {
  left: 0;
}
.j-header-button-wrapper {
  margin-left: auto;
}
.j-header-icon {
  display: none;
}

.j-header-icon-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: transparent;
  border: none;
  border-radius: 50%;
}
.j-navigation-list.is-open {
  right: 0;
}
.j-header-icon-menu {
  display: block;
}

.j-header-icon-button.is-open .j-header-icon-menu {
  display: none;
}

.j-header-icon-button.is-open .j-header-icon-close {
  display: block;
}

.j-header {
  position: fixed;
  width: 100%;
  z-index: 5;
  transition: background-color 0.3s ease;
  background: transparent;
  display: flex;
  height: 80px;
  background: rgba(251, 251, 255, 1);
}

.j-header-background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 100%;
  z-index: -1;
  transition: left 0.3s ease;
  background: rgba(251, 251, 255, 1);
}
.j-header.is-open .j-header-background {
  left: 0;
}
.j-header-button-wrapper {
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.j-header-icon-menu {
  display: block;
}

.j-header-icon-button.is-open .j-header-icon-menu {
  display: none;
}

.j-header-icon-button.is-open .j-header-icon-close {
  display: block;
}

.j-navigation {
  display: -ms-flexbox;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 20px 16px;
  position: relative;
}

.j-navigation-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 100%;
  right: -100%;
  width: 100%;
  height: 447px;
  transition: 0.3s;
  z-index: 999;
  padding: 0px 32px;
  border-radius: 0px 0px 20px 20px;
  gap: 28px;
  background: rgba(251, 251, 255, 1);
}

.j-navigation-list.is-open {
  right: 0;
}

.j-navigation-link {
  font-family: Kumbh Sans;
  font-weight: 600;
  font-size: 24px;
  line-height: 130%;
  letter-spacing: 0%;

  transition: all 0.3s ease-in-out;
  text-decoration: none;
  color: rgba(23, 21, 49, 1);
}

.j-navigation-link:hover,
.j-navigatioт-link:focus {
  color: rgba(73, 64, 238, 1);
}

.j-header.is-open {
  background-color: transparent;
}

.j-navigation-img {
  display: none;
}

@media screen and (min-width: 1200px) {
  .j-navigation-img {
    display: flex;
    margin-right: 90px;
  }
  .j-policy-terms-header-icon-menu {
    display: none;
  }

  .j-header {
    width: 100%;
    height: 80px;
    padding: 10px 0px 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }

  .j-header-background {
  }
  .j-header-icon-button {
    display: none;
  }
  .j-navigation {
    display: flex;
    flex-direction: row;
    flex: 1;
    padding: 0;
    width: 1440px;
    margin: auto;
  }

  .j-navigation-list {
    background-color: transparent;
    flex-direction: row;
    display: flex;
    position: static;
    width: 1440px;
    margin: auto;
    padding-block: 0;
    flex: 1;
    gap: 32px;
    height: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
  }

  .j-navigation-link {
    font-family: Kumbh Sans;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0%;

    text-decoration: none;
  }

  .j-navigation-item-desk {
    display: none;
  }
}
.j-home {
  width: 375px;
  height: 812px;
  padding: 110px 16px 0px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/home//Hero.png");
  margin: auto;
}

.j-home-container-top {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.j-home-title-img {
  width: 321.13037109375px;
  height: 175px;
}
.j-home-title {
  font-family: Piedra;
  font-weight: 400;
  font-size: 36px;
  line-height: 120%;
  letter-spacing: 0%;
  text-align: center;
  color: rgba(251, 251, 255, 1);
  padding: 8px 0 16px;
}

.j-home-text {
  font-family: Kumbh Sans;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
  color: rgba(251, 251, 255, 1);
  padding-bottom: 235px;
}

.j-home-google-button-image {
  width: 256px;
  height: 64px;
}

.j-home-google-button-link:hover .j-home-google-button-image {
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}

@media screen and (min-width: 1200px) {
  .j-home {
    width: 1440px;
    height: 759px;
    padding: 96px 74px 0px;
    background-image: url("/img/home/Hero\ \(1\).png");
  }

  .j-home-container-top {
    display: flex;
    flex-direction: column;
    align-items: start;
  }
  .j-home-title-img {
    width: 611px;
    height: 333px;
  }
  .j-home-title {
    font-family: Piedra;
    font-weight: 400;
    font-size: 64px;
    line-height: 120%;
    letter-spacing: 0%;
    padding: 0;
    padding-left: 66px;
  }

  .j-home-text {
    font-family: Kumbh Sans;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: start;
    width: 477px;
    margin-left: 66px;
    padding: 21px 0 40px;
  }
  .j-home-google-button-image {
    width: 256px;
    height: 64px;
    margin-left: 66px;
  }
}
.j-why {
  width: 375px;
  margin: auto;
  padding: 40px 16px 0;
  height: 1020px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/Benefits.png");
}

.j-why-list {
  list-style-type: disc;
  padding: 40px 0 0 20px;
  display: flex;
  flex-direction: column;
  color: rgba(73, 64, 238, 1);
  gap: 4px;
}

.j-why-text-bold {
  font-family: Kumbh Sans;
  font-weight: 600;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0%;
  color: rgba(73, 64, 238, 1);
}

.j-why-text {
  font-family: Kumbh Sans;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
  color: rgba(23, 21, 49, 1);
}

@media screen and (min-width: 1200px) {
  .j-why {
    width: 1440px;
    padding: 80px 160px 0;
    height: 659px;
    background-image: url("/img/Benefits\ \(1\).png");
  }
  .j-why-list {
    list-style-type: disc;
    padding: 80px 0 0 40px;
    display: flex;
    flex-direction: column;
    color: rgba(73, 64, 238, 1);
    width: 544px;
    gap: 2px;
  }

  .j-why-text-bold {
    font-family: Kumbh Sans;
    font-weight: 600;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0%;
  }

  .j-why-text {
    font-family: Kumbh Sans;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0%;
  }
}

.j-about {
  padding: 40px 16px 0px;
  margin: auto;
  width: 375px;
  height: 807px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/Game\ Description.png");
}

.j-about-title {
  font-family: Piedra;
  font-weight: 400;
  font-size: 36px;
  line-height: 120%;
  letter-spacing: 0%;
  color: rgba(114, 106, 255, 1);
}

.j-about-text {
  font-family: Kumbh Sans;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
  padding-top: 40px;
}

@media screen and (min-width: 1200px) {
  .j-about {
    padding: 80px 160px 0 736px;
    width: 1440px;
    height: 587px;
    background-image: url("/img/Game\ Description\ \(1\).png");
  }
  .j-about-title {
    font-family: Piedra;
    font-weight: 400;
    font-size: 64px;
    line-height: 120%;
    letter-spacing: 0%;
  }

  .j-about-text {
    font-family: Kumbh Sans;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0%;

    padding-top: 80px;
  }
}

.j-characters {
  padding: 40px 16px;
  margin: auto;
  width: 375px;
  height: 700px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/Elements.png");
}

@media screen and (min-width: 1200px) {
  .j-characters {
    padding: 80px 612px 0 160px;
    width: 1440px;
    height: 545px;
    background-image: url("/img/Elements1.png");
  }
}

.j-reviews {
  width: 375px;
  margin: auto;
  padding: 40px 16px;
}

.j-reviews-list {
  padding-top: 40px;
}
.j-reviews-lists {
  display: none;
}
.j-reviews-item {
  margin: 0 5px;
  width: 288px;
  height: 187px;
  border-radius: 16px;
  padding-top: 16px;
  padding-right: 24px;
  padding-bottom: 16px;
  padding-left: 24px;
  background: rgba(251, 251, 255, 1);
  border: 1px solid rgba(114, 106, 255, 1);
}

.j-reviews-text-bold {
  font-family: Kumbh Sans;
  font-weight: 600;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0%;
  color: rgba(73, 64, 238, 1);
}

.j-reviews-text {
  font-family: Kumbh Sans;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
  padding-top: 8px;
}

@media screen and (min-width: 1200px) {
  .j-reviews {
    width: 1440px;
    height: 705px;
    padding: 80px 160px 0;
    background-image: url("/img/Reviews.png");
  }
  .j-reviews-list {
    display: none;
  }
  .j-reviews-lists {
    display: flex;
    flex-wrap: wrap;
    padding-top: 70px;
    gap: 32px;
  }
  .j-reviews-item {
    margin: 0;
    width: 352px;
    height: 178p;
    border-radius: 16px;
    padding-top: 16px;
    padding-right: 20px;
    padding-bottom: 16px;
    padding-left: 24px;
  }

  .j-reviews-text-bold {
    font-family: Kumbh Sans;
    font-weight: 600;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0%;
  }

  .j-reviews-text {
    font-family: Kumbh Sans;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0%;
  }
}

.j-gallery {
  width: 375px;
  margin: auto;
  padding: 40px 16px;
}

.j-gallery-list {
  width: auto;
  padding-top: 40px;
  margin: auto;
}

.j-gallery-item {
  width: 288px;
  height: auto;

  overflow: hidden;
  position: relative;
  margin: 0 8px;
}

.j-gallery-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.slick-prev:before,
.slick-next:before {
  display: none;
}

.slick-next {
  right: 0px;
  display: none;
}
.slick-dots li {
  display: none;
}
@media screen and (min-width: 1200px) {
  .j-gallery {
    width: 1440px;
    padding: 80px 256px;
  }

  .j-gallery-item {
    width: auto;
    height: 522px;
    margin: 0 10px;
  }

  .j-gallery-list {
    padding: 80px 0 16px;
  }
  .slick-prev:before {
    content: url("/img/gallery/Arrow\ \(1\).png");
    display: flex;
    margin-left: -50px;
  }
  .slick-next {
    display: block;
  }
  .slick-next:before {
    content: url("/img/gallery/Arrow\ \(2\).png");
    display: flex;
    margin-left: 30px;
  }
  .slick-dots {
    display: flex;
    justify-content: center;
  }

  .slick-dots li {
    display: inline-block;
    list-style: none;
    width: 16px;
    height: 16px;
  }

  .slick-dots li button {
    width: 100%;
    height: 100%;
    border: none;
    background: url("/img/gallery/Pagination\ Dot\ \(2\).png") no-repeat
      center/cover;
    padding: 0;
    font-size: 0;
  }

  .slick-dots li button:before {
    display: none;
  }

  .slick-dots li.slick-active button {
    background: url("/img/gallery/Pagination\ Dot\ \(1\).png") no-repeat
      center/cover;
  }
}

.j-features {
  width: 375px;
  margin: auto;
  padding: 40px 16px 0px;
  height: 925px;
  background-image: url("/img/Key\ Features.png");
}

@media screen and (min-width: 1200px) {
  .j-features {
    width: 1440px;
    padding: 80px 160px 0 736px;
    height: 716px;
    background-image: url("/img/Key\ Features\ \(1\).png");
  }
}

.j-policy-terms-container {
  padding: 120px 16px 40px;
  width: 375px;
  margin: auto;
  font-family: Kumbh Sans;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
}

.j-policy-terms-title {
  font-family: Piedra;
  font-weight: 400;
  font-size: 36px;
  line-height: 120%;
  letter-spacing: 0%;
  color: rgba(114, 106, 255, 1);
}

.j-policy-terms-text {
  padding-top: 20px;
  font-family: Kumbh Sans;
  font-weight: 600;
  font-size: 24px;
  line-height: 130%;
  letter-spacing: 0%;
}

.j-policy-terms-texts {
  padding-top: 8px;
}

.j-policy-terms-text-one {
  padding-top: 20px;
}

.j-terms-list {
  list-style-type: disc;
  padding: 20px 0 20px 25px;
  display: flex;
  flex-direction: column;
}

.j-terms-lists {
  list-style-type: disc;
  padding-left: 25px;
}

.j-email-link {
  color: inherit;
  text-decoration: none;
}

.j-email-link-color {
  color: inherit;
  text-decoration: none;
}

@media screen and (min-width: 1200px) {
  .j-policy-terms-container {
    padding: 160px 160px 80px;
    width: 1440px;
    font-family: Kumbh Sans;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0%;
  }

  .j-policy-terms-title {
    font-family: Piedra;
    font-weight: 400;
    font-size: 64px;
    line-height: 120%;
    letter-spacing: 0%;
  }

  .j-policy-terms-text {
    padding-top: 40px;
    font-family: Kumbh Sans;
    font-weight: 600;
    font-size: 28px;
    line-height: 130%;
    letter-spacing: 0%;
  }

  .j-policy-terms-text-one {
    padding-top: 30px;
  }

  .j-terms-list {
    padding: 20px 0 20px 25px;
  }
}
.j-footer {
  width: 375px;
  margin: auto;
  color: #ffffff;
  background: rgba(23, 21, 49, 1);

  padding: 40px 0 16px;
}

.j-footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.j-footer-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.j-footer-text {
  text-decoration: none;
  color: #ffffff;
  font-family: Kumbh Sans;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
}

.j-footer-copyright {
  font-family: Kumbh Sans;
  font-weight: 400;
  font-size: 11px;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .j-footer {
    width: 1440px;
  }

  .j-footer-text {
    font-family: Kumbh Sans;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;
  }

  .j-footer-copyright {
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;
  }
}

.j-cookie-popup {
  position: fixed;
  bottom: 10px;
  width: 375px;
  padding: 32px;
  background: rgba(23, 21, 49, 1);

  z-index: 1000;
  display: none;
}

.j-cookie-popup-text-two {
  font-family: Kumbh Sans;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;

  color: rgba(251, 251, 255, 1);
}

.j-cookie-button-container {
  padding: 40px 0 0;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.j-cookie-button {
  border: none;
  background-color: transparent;
  width: 256px;
  border-radius: 28px;
  padding-top: 16px;
  padding-bottom: 16px;
  border: 1px solid rgba(251, 251, 255, 1);
  font-family: Kumbh Sans;
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: 0%;
  color: rgba(251, 251, 255, 1);
  text-transform: capitalize;
}

#accept-cookies {
  background: rgba(251, 251, 255, 1);
  color: rgba(23, 21, 49, 1);
}

.j-close-popup {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}

@media screen and (min-width: 1200px) {
  .j-cookie-popup-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .j-cookie-popup-text-two {
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: left;
    width: 648px;
  }

  .j-cookie-button-container {
    padding: 0;
    margin: auto;
    display: flex;
    flex-direction: row;
    gap: 40px;
  }

  .j-cookie-popup {
    position: fixed;
    bottom: 10px;
    width: 1440px;
    padding: 32px;
    display: none;
  }
}
